.container-fluid_index {
    padding: 0;
}

.index {
    padding: 0;
    position: relative;
    box-shadow: 0 0 85px violet;
}

.index h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Baloo Da 2', cursive;
    color: white;
    text-shadow: 2px 2px 5px red;
}

.index_menu {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.index_menu ul {
    display: flex;
    padding: 0;
}

.index_menu ul li {
    list-style: none;
    padding: 5px 15px;
}

.index_menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Baloo Da 2', cursive;
    font-size: 25px;
    text-shadow: 2px 2px 5px blue;
    text-transform: capitalize;
}

.index_menu ul li a:hover {
    color: orange;
}

.menu_mobile {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 75%;
    background-color: whitesmoke;
    overflow: scroll;
    transform: translate(-100%);
    /* display: none; */
    opacity: 0;
    z-index: 4;
    transition: all linear 0.5s !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    padding: 0 !important;
    margin: 0 !important;
    animation: animation linear 0.6s;
    z-index: 3;
}

@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav__input:checked~.overlay {
    display: block !important;
}

.nav__input:checked~.menu_mobile {
    transform: translateX(0%)!important;
    opacity: 1 !important;
}

.menu_mobile i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
}

.nav_mobile_close {
    cursor: pointer;
}

.menu_mobile ul {
    padding: 0;
}

.menu_mobile ul li {
    list-style: none;
    padding: 15px 0 15px 25px;
}

.menu_mobile ul li a {
    text-decoration: none;
    font-family: 'Baloo Da 2', cursive;
    font-size: 35px;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 5px blue;
}

.bars_menumobile {
    position: absolute;
    right: 15px;
    top: 4px;
    font-size: 30px;
    color: orange;
    cursor: pointer;
    display: none;
}


/* responsive menu mobile */

@media only screen and (max-width:999px) {
    .index_menu {
        display: none !important;
    }
    .index h1 {
        width: 100% !important;
    }
    .bars_menumobile {
        display: block;
    }
}

@media only screen and (max-width:576px) {
    .index h1 {
        font-size: 35px;
        width: 100% !important;
        padding: 10px 0;
    }
}


/* responsive menu mobile */


/* //facebook comment */

.container-fluid_facebookcomment {
    padding: 0;
}

.container_facebookcomment {
    padding: 0;
    box-shadow: 0 0 85px violet;
}

.comment-facebook {
    width: 100%;
}


/* facebook comment */


/* container-fluid_video */

.container-fluid_video {
    padding: 0;
}

.container_video {
    padding: 0;
    box-shadow: 0 0 85px violet;
}

.container_video iframe {
    max-width: 100%;
}

.container_video-video {
    display: flex;
    justify-content: center;
}

.container_video h1 {
    font-family: 'Baloo Da 2', cursive;
    text-shadow: 2px 2px 5px blue;
    margin: 0;
    color: white;
    font-size: 45px;
    padding: 5px 0;
}

@media only screen and (max-width:576px) {
    .container_video h1 {
        font-size: 35px;
    }
}


/* container-fluid_video */

.truycaptrang {
    padding-left: 8px;
}

.truycaptrang p {
    margin: 0;
}

.truycaptrang span {
    color: red;
}